<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="dataDrivenBasics">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	    <listener class-name="com.CN.listeners.CustomListeners" />
	</listeners>
	<test thread-count="5" name="Hotel">
		<classes>
			<class name="com.CN.testcases.Hotel" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Bus">
		<classes>
			<class name="com.CN.testcases.Bus" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="Cab">
		<classes>
			<class name="com.CN.testcases.Cab" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
